body * {
  margin: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 45vw;
  margin: auto;
  transition: width 0.2s;
}
@media screen and (max-width: 900px) {
  .container {
    width: 100%;
    transition: width 0.2s;
  }
}

.checkboxes {
  height: 80vh;
  overflow: auto;
  background-color: gainsboro;
  padding: 4px;
}
